{% extends 'notification_app/base.html' %}

{% load widget_tweaks %}

{% block content %}
<h2>Отправить уведомление</h2>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label">{{ form.title.label }}</label>
                {{ form.title|add_class:"form-control" }}
            </div>
            
            <div class="mb-3">
                <label class="form-label">{{ form.message.label }}</label>
                {{ form.message|add_class:"form-control" }}
            </div>
            
            <div class="mb-3">
                <label class="form-label">{{ form.platform.label }}</label>
                {{ form.platform|add_class:"form-select" }}
            </div>
            
            <div class="mb-3">
                <label class="form-label">{{ form.clients.label }}</label>
                {{ form.clients|add_class:"form-select" }}
            </div>
            
            <div class="mb-3">
                <label class="form-label">{{ form.scheduled_time.label }}</label>
                {{ form.scheduled_time|add_class:"form-control" }}
            </div>
            
            <button type="submit" class="btn btn-primary">
                Отправить уведомление
            </button>
        </form>
    </div>
</div>
{% endblock %}